<div id="{{ form_id }}" class="gm-form">
    <input type="hidden" name="rules" value="{{ campaign.rules }}">
    <input type="hidden" name="campaign_id" value="{{ campaign.data.id }}">
    <input type="hidden" name="form_id" value="{{ form_id }}">
    <input type="hidden" name="thankyou_title" value="{{ thankyou_title }}">
    <input type="hidden" name="thankyou_text" value="{{ thankyou_text }}">
    <input type="hidden" name="utm_source" value="{{ utm.source }}">
    <input type="hidden" name="utm_medium" value="{{ utm.medium }}">
    <input type="hidden" name="utm_campaign" value="{{ utm.campaign }}">
    <input type="hidden" name="utm_id" value="{{ utm.id }}">
    <input type="hidden" name="utm_referer" value="{{ utm.referer }}">
    <input type="hidden" name="utm_term" value="{{ utm.term }}">
    <input type="hidden" name="utm_content" value="{{ utm.content }}">
    <input type="hidden" name="gclid" value="{{ utm.gclid }}">
    {% if getFormSettings('google_recaptcha_enabled', false) and campaign.data.enable_captcha %}
        <input type="hidden" name="g-recaptcha-response" data-site-key="{{ getFormSettings('google_recaptcha_site_key', '') }}">
        <div data-validate-for="g-recaptcha-response" class="form-group invalid-feedback"></div>
    {% endif %}

    <div class="form-row row">
        {% for field in campaign.fields %}
            {{ field.form_partial | raw }}
        {% endfor%}
    </div>
</div>
