<div class="form-group {{ class }} {{ column_width }} ">
    {% if hide_labels != 1 %}
        <label for="{{ id }}">{{ label }}</label>
        {% if comments %}
            {{ data.comments_icon | inline }}
        {% endif %}
    {% endif %}
    <div class="d-flex">
        <select class="form-control" name="{{ id }}" id="{{ id }}">
        <option value="" selected disabled hidden>{{ emptyOption }}</option>
        {% for option in options %}
            <option value="{{ option.key }}" >{{ option.value }}</option>
        {% endfor %}
        </select>
    </div>
    <div data-validate-for="{{ id }}" class="invalid-feedback"></div>
    {% if comments %}
    <small id="{{ id }}-comments" class="form-text text-muted">{{data.comments_icon | inline }} {{ comments }}</small>
    {% endif %}
</div>
