<div class="form-group {{ class }} {{ column_width }} ">
    {% if hide_labels != 1 %}
        <label for="{{ id }}">{{ label }}</label>
        {% if comments %}
            {{ data.comments_icon | inline }}
        {% endif %}
    {% endif %}
    <div class="d-flex">
        <textarea rows="{{ rows }}" type="{{ type }}" class="form-control"  name="{{ id }}" id="{{ id }}" aria-describedby="{{ id }}-comments" placeholder="{{ placeholder }}" ></textarea>
    </div>
    <div data-validate-for="{{ id }}" class="invalid-feedback"></div>
    {% if comments %}
        <small id="{{ id }}-comments" class="form-text text-muted">{{ data.comments_icon | inline }} {{ comments }}</small>
    {% endif %}
</div>
