<!--
<?php print_r($field->value[0]); ?>
-->


<select class="form-control custom-select"
            id="<?= $field->getId() ?>"
            name="<?= $field->getName() ?>[]"
>
<?php if ($field->placeholder): ?>
    <option value=""><?= e(trans($field->placeholder)) ?></option>
<?php endif ?>
<?php
    $Campaigns = Greymen\Formsco\Models\Campaigns::get()->toArray();
    foreach( $Campaigns as $Campaign)
    {
        $selected = '';
        if($field->value[0] == $Campaign['id']) $selected = ' selected ';
        echo('<option value="'.$Campaign['id'].'"'.$selected.'>'.$Campaign['name'].'</option>');
    }
;?>
</select>
