<?php
use ToughDeveloper\ImageResizer\Classes\Image;
$ext = array("png", "jpg", "jpeg");
if (isset($value->path) && in_array(strtolower($value->extension),$ext))
{
    $thumb = new Image($value->path);
    $thumb->resize(200, 250, [ 'mode' => 'auto' ]);

//    $image = new Image($value->path);
//    $image->resize(800, 600, [ 'mode' => 'auto' ]);
?>
    <a href="" data-toggle="modal" data-target="#modal-<?= $value->id ?>">
        <?php echo $thumb->render(); ?>
    </a>
    <div
        class="modal fade bd-example-modal-lg"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myLargeModalLabel"
        id="modal-<?= $value->id ?>"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <img src="<?= $value->path; ?>" class="" style="height: 100%;width: 100%">
                </div>
            </div>
        </div>
    </div>
<?php 
} elseif (! isset($value->path )) {
    echo "";
} else {
    echo '<a href="'.$value->path.'" target="_blank" class="btn btn-primary"> Download '.$value->extension.'</a>';
}
?>